<%= render 'layouts/header' %>

<h4>タスクの登録</h4>

<%= render 'form', task: @task %>

<div class="row">
  <div class="form-group col-md-6">
    <p><%= link_to '戻る', tasks_path %></p>
  </div>
</div>

<%= render 'layouts/footer' %>
