<div class="container-fluid">

  <div class="row">
    <h4> ラベル一覧 </h4>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ラベル名</th>
        <th>ラベルタスク</th>
        <th>作成日</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @labels %>
    </tbody>
  </table>
  <%= link_to 'ラベルの登録', new_label_path %>

</div>