<footer class="footer">
    <div class="container">
      <ul id="menu-footer" class="common-footer__nav--list">
      <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9">
      <p class="footer-item">会社</p>
      </li>
      <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10">
      <p class="footer-item">プライバシーポリシー</p>
      </li>
      <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11">
      <p class="footer-item">お問い合わせ</p>
      </li>

      </ul>
      <p class="copyright">Copyright © Junichi Sunaga All Rights Reserved.</p>
    </div>
</footer>
